body{
    width: 100%;
margin: 0;
}

#navbar{
    width: 100%;
    font-size: 14px;
    background-color: #d9f0f9;
    font-family: "Open Sans", sans-serif;
    height: 50px;
    position: fixed;
    z-index: 1;
}

#nav{
    max-width: 1024px;
    margin: 0 auto;
    font-size: 2em;
    color: #0074e4;
    padding: 10px;
}